body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
/*主界面*/
.home_container{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    /*overflow-y: ;*/
}
.navigation_bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: ;
}