.lf_container{
    width: 100%;
}
.lf_head{
    height: 35px;
}
.lf_head span{
    font-family:'微软雅黑';
    font-size: 14px;
    margin-right: 6px;
}
.lf_head input{
    height: 35px;
    border: 1px solid gray;
}
.lf_rowInput{
    float: left;
}
.lf_rowInput input{
    width: 90px;
    border-radius: 3px;
    height: 30px;
    text-indent: 6px;
}
.lf_search{
    float: right;
}
.lf_search input{
    width: 140px;
    height: 30px;
    border-radius: 3px;
    text-indent: 6px;
}
.lf_table{
    width: 100%;
    border: 1px solid gray;
    table-layout: fixed
}
.lf_table th{
    text-align: center;
    height: 35px;
    border: 1px solid gray;
}
.lf_table td{
    text-align: center;
    height: 30px;
    border: 1px solid gray;
}

.lf_tablebottom{
    margin-top: 6px;
    height: 40px;
    cursor: default;
}
.lf_left{
     float: right;
     width: 80px;
     height: 100%;
 }
.lf_previous_step{
    float: left;
    border: 1px solid grey;
    border-left: none;
    width: 40px;
    height: 100%;
    line-height: 38px;
    text-align: center;
}
.lf_previous_page{
    float: left;
    border: 1px solid grey;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    width: 40px;
    height: 100%;
    line-height: 38px;
    text-align: center;
}
.lf_center{
    float: right;
    max-height: 200px;
    width: 156px;
    height: 100%;
    margin-top: 1px;
    overflow: hidden;
}
.lf_right{
    float: right;
    width: 80px;
    height: 100%;
}
.lf_next_step{
    float: left;
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    width: 40px;
    height: 100%;
    line-height: 38px;
    text-align: center;
}
.lf_next_page{
    float: left;
    border: 1px solid grey;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 40px;
    height: 100%;
    line-height: 38px;
    text-align: center;
}

.lf_single_step{
    float: left;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.lf_single_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    left: 0;
    position: absolute;
}
.lf_center_li{
    float: left;
    width: 39px;
    height: 100%;
    text-align: center;
    line-height: 38px;
    border-right: 1px solid gray;
}