* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}
.content{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 900px;
    overflow: hidden;
    margin-top: 150px;
}
.scroll_content{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    float: left;
}
.block_one{
   background: red;
    padding: 0 30px;
    min-height: 100%;
    overflow: hidden;
}
.block_two{
    background: blue;
    padding: 0 30px;
    min-height: 100%;
    overflow: hidden;
}
.block_three{
    background: purple;
    padding: 0 30px;
    min-height: 100%;
    overflow: hidden;
}