<div class="main_content">
	<div class="demo">
        <lf-table table-config="tableConfig"></lf-table>
    </div>
    <!--<button style="margin-top: 50px" ng-click="addPanel()">panelAdd</button>-->
    <!--<panel ng-repeat ='data in panelList' style-config = 'data'>-->
        <!--<div><h5>nothing!</h5></div>-->
    <!--</panel>-->
    <!--<div style="margin-top: 50px;width: 80px;height: 30px;border: 1px solid gray" lf-draggable hand-style="configStyle" drag-data="dragParam">你好</div>-->
    <!--<div style="margin-top: 50px;margin-left:50px;width: 400px;height: 400px;border:1px solid gray" lf-droppable  mouse-up = "conCtrl.mouseUp"></div>-->
</div>